


.search{

 display: flex;
  align-items: center;
  justify-content: center;   
   width: 100%;

}

input{

     width: 50%;
  border: 3px solid #4ecc00;
 margin: 0px 50px 50px 50px;
  padding: 20px;
  height: 30px;
  border-radius: 5px ;
  outline: none;
  color: #065430;
}

.character-container{
display: flex;
flex-wrap:wrap;
justify-content: center;
}

.character-card{
text-decoration: none;  
margin:20px;
width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.1) ;
    border-right-color:rgba(255, 255, 255, 0.1) ;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px

}
h3{

    color: #72edb4;
    font-weight: 800;
    padding: 15px;
}



.title{


      color: #72edb4;
      font-size:15px;
      display: flex;
      justify-content: center;
      font-weight:800;
}

p{
  color: rgb(232, 252, 76);
font-size: 18px;
font-weight:600;
}

.error{
  color: rgb(232, 252, 76);
}