header {
 
  color: white;
  padding: 1rem;
  text-align: center;
  
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.1) ;
    border-right-color:rgba(255, 255, 255, 0.1) ;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px

}

nav a {
  color: #61dafb;
  text-decoration: none;
  margin-right: 1rem;
}

.brand-logo{
  height: 100px;
  margin:10px;
}